In [1]:
#Importation de panda

import pandas as pd

In [2]:
#Chargement des fichier contenant les tables

dfTitle = pd.read_csv("../data/title.basics.tsv", sep='\t', usecols=["tconst", "primaryTitle", "originalTitle"], encoding='utf-8')
dfName = pd.read_csv("../data/name.basics.tsv", sep='\t', usecols=["nconst", "primaryName"], encoding='utf-8')
dfPrincipals = pd.read_csv("../data/title.principals.tsv", sep='\t', usecols=["tconst", "nconst", "category"], encoding='utf-8')
dfRating = pd.read_csv("../data/title.ratings.tsv", sep='\t', usecols=["tconst", "averageRating"], encoding='utf-8')

In [3]:
#Chargement de la liste des acteurs

"""actorList = []
finalActorList = []

for i in range (1000):
    for j in range (1000):
        #print(dfName['nconst'].values[i])
        #print(dfPrincipals['nconst'].values[j])
        if (dfName['nconst'].values[i] == dfPrincipals['nconst'].values[j] and (dfPrincipals['category'].values[j] == 'actor' or dfPrincipals['category'].values[j] == 'actress')):
            actorList.append([dfName['primaryName'].values[i], dfName['nconst'].values[0]])

#Ecriture dans la table prévue pour afficher les résultats
actorsMoviesDF = pd.DataFrame(actorList, columns=['Movie', 'Actor'])

actorsMoviesDF.head(10)"""

actorMovieList = []

for i in range (len(dfName)):
    if (dfPrincipals['category'].values[i] == 'actor' or dfPrincipals['category'].values[i] == 'actress'):
        actorMovieList.append([dfPrincipals['nconst'].values[i], dfPrincipals['tconst'].values[i]])

"""for i in range (100):
    if (dfName['primaryName'].values[i] == 'Bardot'):
        actorList.append([dfName['primaryName'].values[i], dfName['nconst'].values[0]])"""
        #print(dfName['nconst'].values[0])

#Ecriture dans la table prévue pour afficher les résultats
actorsMovieDF = pd.DataFrame(actorMovieList, columns=['codeActor', 'codeMovie'])

actorsMovieDF.head(len(actorsMovieDF))

         codeActor   codeMovie
0        nm0443482   tt0000005
1        nm0653042   tt0000005
2        nm0179163   tt0000007
3        nm0183947   tt0000007
4        nm0653028   tt0000008
...            ...         ...
4316759  nm0066075  tt10737702
4316760  nm0438478  tt10737702
4316761  nm0790858  tt10737702
4316762  nm0066075  tt10737706
4316763  nm0438478  tt10737706

[4316764 rows x 2 columns]

In [4]:
for i in range (len(actorsMovieDF)):
    if (actorsMovieDF['codeActor'].values[i] == 'nm0443482'):
        print(actorsMovieDF['codeActor'].values[i] + '  ' + actorsMovieDF['codeMovie'].values[i])

nm0443482  tt0000005

In [5]:
scoreMovieList = []

for i in range (len(dfRating)):
    #for j in range (len(actorsMovieDF)):
        #print(actorsMovieDF['codeMovie'].values[j] + "  " + dfRating['tconst'].values[i])
        #if (actorsMovieDF['codeMovie'].values[j] == dfRating['tconst'].values[i]):
            #print(actorsMovieDF['codeMovie'].values[j] + "  " + dfRating['tconst'].values[i])
    scoreMovieList.append([dfRating['tconst'].values[i], dfRating['averageRating'].values[i]])

#Ecriture dans la table prévue pour afficher les résultats
scoreMovieDF = pd.DataFrame(scoreMovieList, columns=['codeMovie', 'Score'])

scoreMovieDF.head(len(scoreMovieDF))

        codeMovie  Score
0       tt0000001    5.6
1       tt0000002    6.1
2       tt0000003    6.5
3       tt0000004    6.2
4       tt0000005    6.1
...           ...    ...
993148  tt9916576    5.9
993149  tt9916578    9.1
993150  tt9916720    5.1
993151  tt9916766    6.7
993152  tt9916778    6.9

[993153 rows x 2 columns]

In [7]:
actors_group = dfName.groupby('nconst')['primaryName'].apply(', '.join)
print(actors_group)

KeyboardInterrupt:

In [12]:


resultat = pd.merge(actorsMovieDF,scoreMovieDF,on=['codeMovie'])
test = resultat.groupby('codeActor')['codeMovie'].apply(', '.join)
#test = resultat.groupby('codeActor')

#for i in range (len(resultat)):
    #if (resultat['codeActor'].values[i] == 'nm0000003'):
        #print (str(resultat['codeActor'].values[i]) + "    " + str(resultat['codeMovie'].values[i]) + "    " + str(resultat['Score'].values[i]))

test.head()

codeActor
nm0000001    tt0025164, tt0026942, tt0027125, tt0027630, tt...
nm0000002    tt0037382, tt0037610, tt0038355, tt0039302, tt...
nm0000003    tt0044881, tt0046200, tt0047607, tt0048001, tt...
nm0000004    tt0076816, tt0077621, tt0077975, tt0078723, tt...
nm0000005    tt0079187, tt0133268, tt0140845, tt0163721, tt...
Name: codeMovie, dtype: object